In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("scraped_data_nba_games.csv", index_col=0)

In [4]:
df.shape

(17772, 150)

In [5]:
df

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,teams_opp,total_opp,home_opp,season,date,won
0,240.0,240.0,34.0,87.0,0.391,8.0,31.0,0.258,18.0,22.0,...,51.5,33.0,200.0,110.0,OKC,110,1,2020,2020-08-01,False
1,240.0,240.0,41.0,77.0,0.532,10.0,26.0,0.385,18.0,24.0,...,50.0,35.2,182.0,125.0,UTA,94,0,2020,2020-08-01,True
2,240.0,240.0,35.0,89.0,0.393,10.0,27.0,0.370,23.0,28.0,...,50.0,28.3,137.0,112.0,BOS,117,1,2016,2016-01-15,False
3,240.0,240.0,42.0,96.0,0.438,14.0,30.0,0.467,19.0,29.0,...,30.4,33.3,135.0,124.0,PHO,103,0,2016,2016-01-15,True
4,240.0,240.0,40.0,92.0,0.435,14.0,40.0,0.350,9.0,14.0,...,33.3,38.6,154.0,113.0,OKC,105,1,2017,2016-11-16,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,240.0,240.0,41.0,86.0,0.477,12.0,32.0,0.375,22.0,30.0,...,53.2,40.6,227.0,118.0,WAS,107,0,2021,2021-01-08,True
17768,240.0,240.0,49.0,96.0,0.510,13.0,37.0,0.351,13.0,21.0,...,25.0,32.6,141.0,135.0,GSW,97,1,2020,2020-01-14,True
17769,240.0,240.0,39.0,87.0,0.448,9.0,32.0,0.281,10.0,13.0,...,11.8,40.4,210.0,106.0,DAL,124,0,2020,2020-01-14,False
17770,240.0,240.0,45.0,96.0,0.469,13.0,33.0,0.394,13.0,16.0,...,46.9,31.5,168.0,123.0,HOU,140,1,2017,2016-12-30,False
17771,240.0,240.0,45.0,81.0,0.556,14.0,40.0,0.350,36.0,43.0,...,32.2,33.8,162.0,143.0,LAC,116,0,2017,2016-12-30,True

In [6]:
df = df.sort_values('date')

In [7]:
df = df.reset_index(drop=True)

In [8]:
df

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,teams_opp,total_opp,home_opp,season,date,won
0,240.0,240.0,37.0,96.0,0.385,12.0,29.0,0.414,20.0,26.0,...,57.1,33.8,258.0,121.0,ATL,94,1,2016,2015-10-27,True
1,240.0,240.0,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,...,33.3,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,False
2,240.0,240.0,41.0,96.0,0.427,9.0,30.0,0.300,20.0,22.0,...,37.5,38.9,201.0,120.0,NOP,95,0,2016,2015-10-27,True
3,240.0,240.0,35.0,83.0,0.422,6.0,18.0,0.333,19.0,27.0,...,69.4,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,False
4,240.0,240.0,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,...,53.2,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,240.0,240.0,40.0,91.0,0.440,15.0,43.0,0.349,12.0,15.0,...,25.8,32.4,205.0,120.0,BOS,97,1,2022,2022-06-10,True
17768,240.0,240.0,41.0,88.0,0.466,9.0,40.0,0.225,13.0,15.0,...,45.0,94.4,300.0,112.0,BOS,94,0,2022,2022-06-13,True
17769,240.0,240.0,31.0,75.0,0.413,11.0,32.0,0.344,21.0,31.0,...,33.3,36.2,222.0,107.0,GSW,104,1,2022,2022-06-13,False
17770,240.0,240.0,34.0,80.0,0.425,11.0,28.0,0.393,11.0,12.0,...,33.3,31.5,186.0,111.0,GSW,103,0,2022,2022-06-16,False
17771,240.0,240.0,38.0,92.0,0.413,19.0,46.0,0.413,8.0,8.0,...,100.0,42.6,141.0,126.0,BOS,90,1,2022,2022-06-16,True

In [9]:
del df["mp.1"]
del df["mp_opp.1"]
del df["index_opp"]

In [10]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,teams_opp,total_opp,home_opp,season,date,won
0,240.0,37.0,96.0,0.385,12.0,29.0,0.414,20.0,26.0,0.769,...,57.1,33.8,258.0,121.0,ATL,94,1,2016,2015-10-27,True
1,240.0,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,0.800,...,33.3,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,False
2,240.0,41.0,96.0,0.427,9.0,30.0,0.300,20.0,22.0,0.909,...,37.5,38.9,201.0,120.0,NOP,95,0,2016,2015-10-27,True
3,240.0,35.0,83.0,0.422,6.0,18.0,0.333,19.0,27.0,0.704,...,69.4,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,False
4,240.0,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,0.588,...,53.2,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,240.0,40.0,91.0,0.440,15.0,43.0,0.349,12.0,15.0,0.800,...,25.8,32.4,205.0,120.0,BOS,97,1,2022,2022-06-10,True
17768,240.0,41.0,88.0,0.466,9.0,40.0,0.225,13.0,15.0,0.867,...,45.0,94.4,300.0,112.0,BOS,94,0,2022,2022-06-13,True
17769,240.0,31.0,75.0,0.413,11.0,32.0,0.344,21.0,31.0,0.677,...,33.3,36.2,222.0,107.0,GSW,104,1,2022,2022-06-13,False
17770,240.0,34.0,80.0,0.425,11.0,28.0,0.393,11.0,12.0,0.917,...,33.3,31.5,186.0,111.0,GSW,103,0,2022,2022-06-16,False
17771,240.0,38.0,92.0,0.413,19.0,46.0,0.413,8.0,8.0,1.000,...,100.0,42.6,141.0,126.0,BOS,90,1,2022,2022-06-16,True

In [11]:
df.columns.values.tolist()

['mp',
 'fg',
 'fga',
 'fg%',
 '3p',
 '3pa',
 '3p%',
 'ft',
 'fta',
 'ft%',
 'orb',
 'drb',
 'trb',
 'ast',
 'stl',
 'blk',
 'tov',
 'pf',
 'pts',
 '+/-',
 'ts%',
 'efg%',
 '3par',
 'ftr',
 'orb%',
 'drb%',
 'trb%',
 'ast%',
 'stl%',
 'blk%',
 'tov%',
 'usg%',
 'ortg',
 'drtg',
 'mp_max',
 'mp_max.1',
 'fg_max',
 'fga_max',
 'fg%_max',
 '3p_max',
 '3pa_max',
 '3p%_max',
 'ft_max',
 'fta_max',
 'ft%_max',
 'orb_max',
 'drb_max',
 'trb_max',
 'ast_max',
 'stl_max',
 'blk_max',
 'tov_max',
 'pf_max',
 'pts_max',
 '+/-_max',
 'ts%_max',
 'efg%_max',
 '3par_max',
 'ftr_max',
 'orb%_max',
 'drb%_max',
 'trb%_max',
 'ast%_max',
 'stl%_max',
 'blk%_max',
 'tov%_max',
 'usg%_max',
 'ortg_max',
 'drtg_max',
 'teams',
 'total',
 'home',
 'mp_opp',
 'fg_opp',
 'fga_opp',
 'fg%_opp',
 '3p_opp',
 '3pa_opp',
 '3p%_opp',
 'ft_opp',
 'fta_opp',
 'ft%_opp',
 'orb_opp',
 'drb_opp',
 'trb_opp',
 'ast_opp',
 'stl_opp',
 'blk_opp',
 'tov_opp',
 'pf_opp',
 'pts_opp',
 '+/-_opp',
 'ts%_opp',
 'efg%_opp',
 '3par_opp',
 'ftr_opp',
 'orb%_opp',
 'drb%_opp',
 'trb%_opp',
 'ast%_opp',
 'stl%_opp',
 'blk%_opp',
 'tov%_opp',
 'usg%_opp',
 'ortg_opp',
 'drtg_opp',
 'mp_max_opp',
 'mp_max_opp.1',
 'fg_max_opp',
 'fga_max_opp',
 'fg%_max_opp',
 '3p_max_opp',
 '3pa_max_opp',
 '3p%_max_opp',
 'ft_max_opp',
 'fta_max_opp',
 'ft%_max_opp',
 'orb_max_opp',
 'drb_max_opp',
 'trb_max_opp',
 'ast_max_opp',
 'stl_max_opp',
 'blk_max_opp',
 'tov_max_opp',
 'pf_max_opp',
 'pts_max_opp',
 '+/-_max_opp',
 'ts%_max_opp',
 'efg%_max_opp',
 '3par_max_opp',
 'ftr_max_opp',
 'orb%_max_opp',
 'drb%_max_opp',
 'trb%_max_opp',
 'ast%_max_opp',
 'stl%_max_opp',
 'blk%_max_opp',
 'tov%_max_opp',
 'usg%_max_opp',
 'ortg_max_opp',
 'drtg_max_opp',
 'teams_opp',
 'total_opp',
 'home_opp',
 'season',
 'date',
 'won']

In [13]:
def add_target(team):
    team['target'] = team["won"].shift(-1)
    return team

df = df.groupby("teams", group_keys=False).apply(add_target)

In [15]:
df[df["teams"] == 'LAL']

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,teams_opp,total_opp,home_opp,season,date,won,target
24,240.0,35.0,90.0,0.389,9.0,34.0,0.265,32.0,35.0,0.914,...,31.3,206.0,119.0,MIN,112,0,2016,2015-10-28,False,False
48,240.0,41.0,89.0,0.461,11.0,34.0,0.324,21.0,27.0,0.778,...,33.3,200.0,112.0,SAC,132,1,2016,2015-10-30,False,False
79,240.0,31.0,85.0,0.365,10.0,34.0,0.294,21.0,28.0,0.750,...,24.0,155.0,105.0,DAL,103,0,2016,2015-11-01,False,False
104,240.0,36.0,86.0,0.419,6.0,26.0,0.231,31.0,38.0,0.816,...,27.5,193.0,115.0,DEN,120,0,2016,2015-11-03,False,True
151,240.0,33.0,78.0,0.423,7.0,23.0,0.304,31.0,40.0,0.775,...,27.2,116.0,109.0,BRK,98,1,2016,2015-11-06,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17469,240.0,49.0,92.0,0.533,6.0,20.0,0.300,14.0,21.0,0.667,...,46.1,201.0,121.0,DEN,129,0,2022,2022-04-03,False,False
17502,240.0,39.0,86.0,0.453,9.0,29.0,0.310,23.0,30.0,0.767,...,37.5,155.0,111.0,PHO,121,1,2022,2022-04-05,False,False
17526,240.0,37.0,83.0,0.446,9.0,32.0,0.281,29.0,38.0,0.763,...,31.6,300.0,114.0,GSW,128,1,2022,2022-04-07,False,True
17538,240.0,41.0,82.0,0.500,9.0,31.0,0.290,29.0,39.0,0.744,...,31.6,132.0,125.0,OKC,101,0,2022,2022-04-08,True,True
17567,265.0,44.0,94.0,0.468,16.0,43.0,0.372,42.0,47.0,0.894,...,34.7,159.0,138.0,DEN,141,1,2022,2022-04-10,True,NaN

In [16]:
df["target"][pd.isnull(df["target"])] = 2

C:\Users\HP\AppData\Local\Temp\ipykernel_8116\1618397414.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["target"][pd.isnull(df["target"])] = 2

In [21]:
df["target"] = df["target"].astype(int, errors ="ignore")
df["won"] = df["won"].astype(int, errors ="ignore")

In [22]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,teams_opp,total_opp,home_opp,season,date,won,target
0,240.0,37.0,96.0,0.385,12.0,29.0,0.414,20.0,26.0,0.769,...,33.8,258.0,121.0,ATL,94,1,2016,2015-10-27,1,1
1,240.0,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,0.800,...,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,0,1
2,240.0,41.0,96.0,0.427,9.0,30.0,0.300,20.0,22.0,0.909,...,38.9,201.0,120.0,NOP,95,0,2016,2015-10-27,1,1
3,240.0,35.0,83.0,0.422,6.0,18.0,0.333,19.0,27.0,0.704,...,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,0,0
4,240.0,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,0.588,...,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,240.0,40.0,91.0,0.440,15.0,43.0,0.349,12.0,15.0,0.800,...,32.4,205.0,120.0,BOS,97,1,2022,2022-06-10,1,1
17768,240.0,41.0,88.0,0.466,9.0,40.0,0.225,13.0,15.0,0.867,...,94.4,300.0,112.0,BOS,94,0,2022,2022-06-13,1,1
17769,240.0,31.0,75.0,0.413,11.0,32.0,0.344,21.0,31.0,0.677,...,36.2,222.0,107.0,GSW,104,1,2022,2022-06-13,0,0
17770,240.0,34.0,80.0,0.425,11.0,28.0,0.393,11.0,12.0,0.917,...,31.5,186.0,111.0,GSW,103,0,2022,2022-06-16,0,2
17771,240.0,38.0,92.0,0.413,19.0,46.0,0.413,8.0,8.0,1.000,...,42.6,141.0,126.0,BOS,90,1,2022,2022-06-16,1,2

In [23]:
df["won"].value_counts()

1    8886
0    8886
Name: won, dtype: int64

In [26]:
nulls = df.isnull().sum()

In [28]:
nulls = nulls[nulls>0]

In [29]:
nulls

+/-             17772
mp_max          17772
mp_max.1        17772
+/-_opp         17772
mp_max_opp      17772
mp_max_opp.1    17772
dtype: int64

In [31]:
valid_columns = df.columns[~df.columns.isin(nulls.index)]

In [32]:
df = df[valid_columns].copy()

In [33]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,teams_opp,total_opp,home_opp,season,date,won,target
0,240.0,37.0,96.0,0.385,12.0,29.0,0.414,20.0,26.0,0.769,...,33.8,258.0,121.0,ATL,94,1,2016,2015-10-27,1,1
1,240.0,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,0.800,...,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,0,1
2,240.0,41.0,96.0,0.427,9.0,30.0,0.300,20.0,22.0,0.909,...,38.9,201.0,120.0,NOP,95,0,2016,2015-10-27,1,1
3,240.0,35.0,83.0,0.422,6.0,18.0,0.333,19.0,27.0,0.704,...,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,0,0
4,240.0,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,0.588,...,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,240.0,40.0,91.0,0.440,15.0,43.0,0.349,12.0,15.0,0.800,...,32.4,205.0,120.0,BOS,97,1,2022,2022-06-10,1,1
17768,240.0,41.0,88.0,0.466,9.0,40.0,0.225,13.0,15.0,0.867,...,94.4,300.0,112.0,BOS,94,0,2022,2022-06-13,1,1
17769,240.0,31.0,75.0,0.413,11.0,32.0,0.344,21.0,31.0,0.677,...,36.2,222.0,107.0,GSW,104,1,2022,2022-06-13,0,0
17770,240.0,34.0,80.0,0.425,11.0,28.0,0.393,11.0,12.0,0.917,...,31.5,186.0,111.0,GSW,103,0,2022,2022-06-16,0,2
17771,240.0,38.0,92.0,0.413,19.0,46.0,0.413,8.0,8.0,1.000,...,42.6,141.0,126.0,BOS,90,1,2022,2022-06-16,1,2

In [35]:
from sklearn.model_selection import TimeSeriesSplit
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.linear_model import RidgeClassifier

rr = RidgeClassifier(alpha=1)
split = TimeSeriesSplit(n_splits=3)

sfs = SequentialFeatureSelector(rr, n_features_to_select=30, direction="forward", cv=split)

In [36]:
removed_cols = ["season", "date", "won", "target", "teams", "teams_opp"]

In [38]:

selected_cols = df.columns[~df.columns.isin(removed_cols)]

In [40]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df[selected_cols] = scaler.fit_transform(df[selected_cols])

In [41]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,teams_opp,total_opp,home_opp,season,date,won,target
0,0.0,0.409091,0.529412,0.277512,0.413793,0.378788,0.491686,0.441860,0.396825,0.730455,...,0.150193,0.800948,0.517647,ATL,0.288462,1.0,2016,2015-10-27,1,1
1,0.0,0.409091,0.323529,0.435407,0.275862,0.348485,0.351544,0.255814,0.222222,0.766628,...,0.019255,0.203791,0.317647,DET,0.403846,0.0,2016,2015-10-27,0,1
2,0.0,0.500000,0.529412,0.377990,0.310345,0.393939,0.356295,0.441860,0.333333,0.893816,...,0.215661,0.530806,0.505882,NOP,0.298077,0.0,2016,2015-10-27,1,1
3,0.0,0.363636,0.338235,0.366029,0.206897,0.212121,0.395487,0.418605,0.412698,0.654609,...,0.277279,0.554502,0.317647,GSW,0.451923,1.0,2016,2015-10-27,0,0
4,0.0,0.431818,0.500000,0.322967,0.310345,0.378788,0.368171,0.209302,0.253968,0.519253,...,0.160462,0.345972,0.317647,CHI,0.317308,1.0,2016,2015-10-27,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,0.0,0.477273,0.455882,0.409091,0.517241,0.590909,0.414489,0.255814,0.222222,0.766628,...,0.132221,0.549763,0.505882,BOS,0.317308,1.0,2022,2022-06-10,1,1
17768,0.0,0.500000,0.411765,0.471292,0.310345,0.545455,0.267221,0.279070,0.222222,0.844807,...,0.928113,1.000000,0.411765,BOS,0.288462,0.0,2022,2022-06-13,1,1
17769,0.0,0.272727,0.220588,0.344498,0.379310,0.424242,0.408551,0.465116,0.476190,0.623104,...,0.181001,0.630332,0.352941,GSW,0.384615,1.0,2022,2022-06-13,0,0
17770,0.0,0.340909,0.294118,0.373206,0.379310,0.363636,0.466746,0.232558,0.174603,0.903151,...,0.120668,0.459716,0.400000,GSW,0.375000,0.0,2022,2022-06-16,0,2
17771,0.0,0.431818,0.470588,0.344498,0.655172,0.636364,0.490499,0.162791,0.111111,1.000000,...,0.263158,0.246445,0.576471,BOS,0.250000,1.0,2022,2022-06-16,1,2

In [42]:
sfs.fit(df[selected_cols], df["target"])

SequentialFeatureSelector(cv=TimeSeriesSplit(gap=0, max_train_size=None, n_splits=3, test_size=None),
                          estimator=RidgeClassifier(alpha=1),
                          n_features_to_select=30)